{% extends "base.html" %}

{% load static %}
{% load leaflet_tags %}
{% load socialaccount %}


{% block head %}
    {% leaflet_js plugins="routing" %}
    {% leaflet_css plugins="routing" %}

    {# Profile style sheet#}
    <link rel="stylesheet" href="{% static "app/css/events.css" %}" type="text/css"/>
    <link rel="stylesheet" href="{% static "app/css/profile.css" %}" type="text/css"/>

    {% csrf_token %}
    <script language="JavaScript" type="text/javascript">

        let my_map;
        let user_latlong;
        let venueMarker;
        let venueRoute;
        let csrf_token = jQuery("[name=csrfmiddlewaretoken]").val();

        {# Retreive and append CSRF token to ajax requests #}
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        function csrfTokenSetup() {
             $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrf_token);
                    }
                }
            });
        }

        {# Initialize map #}
        function main_map_init (map, options){
            my_map = map;
            navigator.geolocation.getCurrentPosition(function (position) {
                let marker = L.marker([position.coords.latitude, position.coords.longitude],
                    {icon: createUserIcon()}).addTo(map)
                    .bindPopup('Hi {{ user.first_name }}! This is your location');
                centerLeafletMapOnMarker(map, marker);
                user_latlong = [position.coords.latitude, position.coords.longitude];
            });
        }

        // User icon
        function createUserIcon() {
            return L.icon({
              iconUrl: '/static/app/icons/userIcon.png',
              iconSize: [35, 35],
              iconAnchor: [17, 35],
              popupAnchor: [0, -35],
              shadowSize: [68, 95],
              shadowAnchor: [22, 94]
            });
        }

        // Event icon
        function createEventIcon() {
            return L.icon({
              iconUrl: '/static/app/icons/musicIcon.png',
              iconSize: [35, 35],
              iconAnchor: [17, 35],
              popupAnchor: [0, -35],
              shadowSize: [68, 95],
              shadowAnchor: [22, 94]
            });
        }

        {# Make call to API to get venue details #}
        function getVenueDetails(venueId){
            $.get("/get_venue_details/?venue_id=" + venueId)
                    .done(function(data) {
                        addVenueToMap(data);
                        console.log(data);
                    });
            return false;
        }

        {# Add venue to the leaflet map #}
        function addVenueToMap(venue) {
            let name = venue['name'];
            let address1 = venue['address']['line1'];
            let address2 = venue['address']['line2'];
            let long = venue['longitude'];
            let lat = venue['latitude'];
            let url = venue['url'];
            let city = venue['city'];
            let country = venue['country'];
            let address = "";
            if (url == undefined) {
                url = 'https://ticketmaster.com/'
            }
            if (address2 != undefined) {
                address = address1 + address2
            }
            else address = address1

            try {
              my_map.removeLayer(venueMarker);
            }
            catch (e) {
              console.log('This is the first venue')
            }

            try {
                let markerGroup = L.featureGroup();
                venueMarker = L.marker([lat, long], {icon: createEventIcon()}).bindPopup(
                    '<h2><a href="' + url + '">' + name + '</a></h2><br>' +
                    '<p>' + address + '</p><br>' +
                    '<p>' + city + ', ' + country + '</p><br>');
                markerGroup.addLayer(venueMarker);
                my_map.addLayer(markerGroup);
                addRouteToVenue(lat, long);
                centerLeafletMapOnMarker(my_map, venueMarker);
                scrollToMap();
            }
            catch (e) {
                console.log('venue not found')
            }
        }

        // Routes the user to the venue
        function addRouteToVenue(vLat, vLong) {
            try {
              my_map.removeControl(venueRoute);
            }
            catch (e) {
              console.log('This is the first route')
            }
            try {
              venueRoute = L.Routing.control({ waypoints: [
                  L.latLng(user_latlong[0], user_latlong[1]),
                  L.latLng(Number(vLat), Number(vLong))
                ],
                maxZoom: 12,
                createMarker: false,
              });
              my_map.addControl(venueRoute);
            }
            catch (e) {
              console.log('routing not working')
            }
        }

        {# Centre the leaflet map on the marker #}
        function centerLeafletMapOnMarker(map, marker) {
            let latLngs = [ marker.getLatLng() ];
            let markerBounds = L.latLngBounds(latLngs);
            map.fitBounds(markerBounds);
        }

        function scrollToMap() {
            var target = $('#map_div');
            if (target.length)
            {
                var top = target.offset().top;
                $('html,body').animate({scrollTop: top}, 500);
                return false;
            }
        }

        {# Delete a saved event #}
        function deleteEvent(event, divId) {
            csrfTokenSetup();
            $.ajax({
                    url: '{% url 'api:delete_event' %}',
                    type: 'POST',
                    data: {
                        save_event: JSON.stringify(event)
                    },
                    success: function () {
                        document.getElementById(divId).remove();
                    }
                });
        }

        {# On window load prompt user to connect their spotify account if the y havent already #}
        function onWindowLoad() {
            $('#auth-modal').modal('show');
        }

    </script>
{% endblock %}

{% block content %}
{% if user.is_authenticated %}

    {% if not user.social_auth.exists %}
        <div class="modal fade center-block" id="auth-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="loginmodal-container">
                    <h1 style="font-family: 'Bungee Shade'; font-size: 40px;">Hi there!</h1><br>
                    <p>Please connect your Spotify account so we can provide you with recommendations for events!</p><br>
                    <a href="{% url 'social:begin' 'spotify' %}" id="spotify_auth_button" type="button" class="primaryAction" >Connect</a>
                </div>
            </div>
        </div>
    {% endif %}


    <div id="main_div" class="container-fluid">
        <div id="profile_div" class="container">
            <div id="profile_container" class="container">
                <div id="profile_pic_container" class="container">
                    <div id="profile_pic_div">
                        {% if user.spotify.user_data.images.0.url %}
                            <img id="profile_pic" src="{{ user.spotify.user_data.images.0.url }}"/>
                        {% else %}
                            <img id="profile_pic" src="{{ user.profile.profile_picture.url }}"/>
                        {% endif %}
                    </div>
                    <div id="change_pic_text">
                        <p ><a href="{% url 'app:update_profile_pic' %}">Upload...</a></p>
                    </div>
                </div>
                <div id="profile_text" >
                    <p>Hi {{ user.first_name }} {{ user.last_name }}! </p>
                    <p>Connect your <a href="{% provider_login_url "facebook" process="connect" %}">facebook</a> account!</p>
                </div>
            </div>
        </div>

        <div id="main_div_container" class="container">
            <div id="main_events_div" class="container">
                <div id="event_list">
                    {% include 'app/saved_events.html' %}
                </div>
            </div>
            <div id="map_div">
                <div id="map_container">
                     <div id="mapId" class="leaflet-container" class="container">
                         {% leaflet_map "user_map" callback="main_map_init" %}
                     </div>
                </div>
            </div>
        </div>
    </div>

    <script language="JavaScript" type="text/javascript">
     window.onload = onWindowLoad();
    </script>
{% endif %}

{% endblock %}
