#auth-modal {
    padding-top: 25vh;
}

#spotify_auth_button {
     border: 0px;
    width: 100%;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.5);
    background-color: #259998;
    font-weight: 400;
    padding: 5px 0px;
    font-family: roboto;
    font-size: 30px;
    border-radius: 10px;
}

#spotify_auth_button:hover {
    border: 0px;
    text-shadow: 0 1px rgba(0,0,0,0.3);
    background-color: #259998;
}

#main_div{
    overflow: hidden;
    min-height: 1000px;
    background-color: #ebecee;
    padding: 10vh 5vh 5vh 5vh;
}

#main_div_container{
    background-color: white;
    min-height: 900px;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    padding: 20px;
    overflow: hidden;
    margin-top: 10px;
}

/*************** WELCOME ******************/
#profile_div {
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    padding: 10px;
    height: 150px;
    font-family: Roboto;
    -webkit-box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: white;
    font-size: 1.7em;
    font-weight: 300;
}

#profile_container {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

#profile_pic_container {
    display: inline-block;
    margin-right: 20px;
    height: 100px;
    width: 100px;
}

#profile_pic_div {
    height: 90px;
    width: 90px;
    margin-top: 10px;
    border-radius: 50%;

}

#profile_pic {
    height: 90px;
    width: 90px;
    border-radius: 50%;
}

#change_pic_text {
    font-family: Roboto;
    color: white;
    font-size: 0.8em;
    line-height: 1.6;
    font-weight: 200;
    margin-left: 15px;
}

#profile_text {
    margin-top: 20px;
    width: 100%;
}

#map_div {
    overflow-x: hidden;
    display: block;
    font-family: Roboto;
    -webkit-font-smoothing: antialiased;
    margin: 20px 0;
    width:100%;
    padding: 0 20px;
    height: 500px;

}

#map_container {
    height: 500px;
}

.leaflet-container {
    width: 100%;
    height: 100%;
    border-radius: 4px;
}
